<div class="container main mt-4">
    <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="resposta === 201 || resposta === 200 || resposta === 204">
        Operação realizada com <strong>sucesso</strong>!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="row my-2 justify-content-end">
        <button (click)="salvar()" class="btn-custom mx-1 col-1"><fa-icon [icon]="faSalvar"></fa-icon> Salvar</button>
        <button (click)="excluir()" *ngIf="!cadastro" class="btn-custom mx-1 col-1"><fa-icon [icon]="faExcluir"></fa-icon> Excluir</button>
        <button (click)="voltar()" class="btn-custom mx-1 col-1"><fa-icon [icon]="faVoltar"></fa-icon> Voltar</button>
    </div>
    <form [formGroup]="formulario" class="row">
        <div class="col-6 my-3">
            <label for="nome">Nome do Cemitério</label>
            <input class="form-control form-control-sm" formControlName="nome" id="nome" type="text">
            <div *ngIf="!camposValidos[0].valido" class="informar my-2" role="alert">*Nome do cemitério
                obrigatório
            </div>
        </div>
        <div class="col-6 my-3">
            <label for="responsavel">Nome do Responsável</label>
            <input class="form-control form-control-sm" formControlName="responsavel" id="responsavel" type="text">
            <div *ngIf="!camposValidos[5].valido" class="informar my-2" role="alert">*Nome do responsável
                obrigatório
            </div>
        </div>
        <div class="col-4">
            <label for="endereco">Endereço</label>
            <input class="form-control form-control-sm" formControlName="endereco" id="endereco" type="text">
            <div *ngIf="!camposValidos[1].valido" class="informar my-2" role="alert">*Endereço obrigatório</div>
        </div>
        <div class="col-2">
            <label for="numero">Número</label>
            <input class="form-control form-control-sm" formControlName="numero" id="numero" type="text">
            <div *ngIf="!camposValidos[2].valido" class="informar my-2" role="alert">*Número obrigatório</div>
        </div>
        <div class="col-4">
            <label for="cidade">Cidade</label>
            <input class="form-control form-control-sm" formControlName="cidade" id="cidade" type="text">
            <div *ngIf="!camposValidos[3].valido" class="informar my-2" role="alert">*Cidade obrigatória</div>
        </div>
        <div class="col-2">
            <label for="estado">Estado</label>
            <select class="form-select form-select-sm" formControlName="estado" id="estado">
                <option selected value="">Selecione</option>
                <option *ngFor="let estado of estados" value="{{estado.sigla}}">{{estado.sigla}}</option>
            </select>
            <div *ngIf="!camposValidos[4].valido" class="informar my-2" role="alert">*Selecione um estado</div>
        </div>
    </form>
</div>
