.menu-esquerda {
    float: left;
    height: calc(100vh - 56px);
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--sub-menu-bg-color);
    position: absolute;
    left: 80px;
    z-index: 2;
}

h3 {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 1em;
    color: white;
    list-style: none;
    cursor: pointer;
}
