<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th *ngFor="let item of cabecalho" class="text-center">{{item}}</th>
    </tr>
    </thead>
    <tbody *ngIf="sepulturas.length > 0">
    <tr #row (dblclick)="editar(row.id)" *ngFor="let sepultura of sepulturas" id="{{sepultura.id}}"
        style="cursor:pointer;">
        <td>
            <fa-icon (click)="editar(row.id)" [icon]="iconeEditar" class="btn-custom m-auto w-50 p-2"></fa-icon>
        </td>
        <td>{{sepultura.local}}</td>
        <td>{{sepultura.cemiterio?.nome}}</td>
        <td>{{sepultura.cemiterio?.responsavel}}</td>
    </tr>
    </tbody>
</table>
