<nav *ngIf="!menuAtivo" class="navbar navbar-dark menu-esquerda">
    <ul>
        <fa-icon (click)="verificaSubMenu('cemiterio'); subMenuAtivo='cemiterio'" [icon]="iCemiterio" class="my-2"
                 title="Cemitérios"></fa-icon>
        <fa-icon (click)="verificaSubMenu('sepultura'); subMenuAtivo='sepultura'" [icon]="iSepultura" class="my-2"
                 title="Sepulturas"></fa-icon>
        <fa-icon (click)="verificaSubMenu('falecido'); subMenuAtivo='falecido'" [icon]="iFalecido" class="my-2"
                 title="Falecido"></fa-icon>
        <fa-icon (click)="verificaSubMenu('relatorio'); subMenuAtivo='relatorio'" [icon]="iRelatorios" class="my-2"
                 title="Relatórios"></fa-icon>
        <fa-icon (click)="verificaSubMenu('configuracao'); subMenuAtivo='configuracao'" [icon]="iConfiguracao" class="my-2"
                 title="Configurações"></fa-icon>
    </ul>
</nav>

<nav *ngIf="menuAtivo" class="navbar navbar-dark menu-esquerda ativo">
    <ul>
        <li (click)="verificaSubMenu('cemiterio'); subMenuAtivo='cemiterio'" class="my-2">
            <fa-icon [icon]="iCemiterio" title="Cemitérios"></fa-icon>
            <span>Cemitérios</span>
        </li>
        <li (click)="verificaSubMenu('sepultura'); subMenuAtivo='sepultura'" class="my-2">
            <fa-icon [icon]="iSepultura" title="Sepulturas"></fa-icon>
            <span>Sepulturas</span>
        </li>
        <li (click)="verificaSubMenu('falecido'); subMenuAtivo='falecido'" class="my-2">
            <fa-icon [icon]="iFalecido" title="Falecidos"></fa-icon>
            <span>Falecidos</span>
        </li>
        <li (click)="verificaSubMenu('relatorio'); subMenuAtivo='relatorio'" class="my-2">
            <fa-icon [icon]="iRelatorios" title="Relatórios"></fa-icon>
            <span>Relatórios</span>
        </li>
        <li (click)="verificaSubMenu('configuracao'); subMenuAtivo='configuracao'" class="my-2">
            <fa-icon [icon]="iConfiguracao" title="Configurações"></fa-icon>
            <span>Configurações</span>
        </li>
    </ul>
</nav>

<app-sub-menu-esquerda [aparecer]="mostrarSubMenu" [subMenuAtivo]="subMenuAtivo"></app-sub-menu-esquerda>
