<div class="container w-100 mt-4 overflow-scroll scrollbar" style="max-height: calc(100vh - 80px)">
    <div class="row my-2 justify-content-end">
        <button (click)="buscarCemiterios()" class="btn btn-primary mx-1 col-1">Filtrar</button>
        <button class="btn btn-success mx-1 col-1" routerLink="cad">Novo</button>
        <button (click)="voltar()" class="btn btn-dark mx-1 col-1">Voltar</button>
    </div>
    <form class="row">
        <div class="col-6">
            <label for="nome">Nome do Cemitério</label>
            <input class="form-control" id="nome" type="text">
        </div>
        <div class="col-6">
            <label for="responsavel">Nome do Responsável</label>
            <input class="form-control" id="responsavel" type="text">
        </div>
        <div class="col-4">
            <label for="endereco">Endereço</label>
            <input class="form-control" id="endereco" type="text">
        </div>
        <div class="col-2">
            <label for="numero">Número</label>
            <input class="form-control" id="numero" type="text">
        </div>
        <div class="col-4">
            <label for="cidade">Cidade</label>
            <input class="form-control" id="cidade" type="text">
        </div>
        <div class="col-2">
            <label for="estado">Estado</label>
            <select class="form-select" id="estado">
                <option selected value="">Selecione</option>
                <option *ngFor="let estado of estados" value="{{estado.sigla}}">{{estado.nome}}</option>
            </select>
        </div>
    </form>
    <app-tabela-cemiterios [cemiterios]="cemiterios"></app-tabela-cemiterios>
</div>
