<div class="container d-flex flex-column w-100 mt-4">
    <div class="row my-2 justify-content-end">
        <button (click)="buscarCemiterios()" class="btn-custom mx-1 col-1"><fa-icon [icon]="faFiltro"></fa-icon> Filtrar</button>
        <button class="btn-custom mx-1 col-1" routerLink="cad"><fa-icon [icon]="faNovo"></fa-icon> Novo</button>
        <button (click)="voltar()" class="btn-custom mx-1 col-1"><fa-icon [icon]="faVoltar"></fa-icon> Voltar</button>
    </div>
    <form class="row">
        <div class="my-1 col-6">
            <label for="nome">Nome do Cemitério</label>
            <input class="form-control form-control-sm" id="nome" type="text">
        </div>
        <div class="my-1 col-6">
            <label for="responsavel">Nome do Responsável</label>
            <input class="form-control form-control-sm" id="responsavel" type="text">
        </div>
        <div class="my-1 col-4">
            <label for="endereco">Endereço</label>
            <input class="form-control form-control-sm" id="endereco" type="text">
        </div>
        <div class="my-1 col-2">
            <label for="numero">Número</label>
            <input class="form-control form-control-sm" id="numero" type="text">
        </div>
        <div class="my-1 col-4">
            <label for="cidade">Cidade</label>
            <input class="form-control form-control-sm" id="cidade" type="text">
        </div>
        <div class="my-1 col-2">
            <label for="estado">Estado</label>
            <select class="form-select form-select-sm" id="estado">
                <option selected value="">Selecione</option>
                <option *ngFor="let estado of estados" value="{{estado.sigla}}">{{estado.nome}}</option>
            </select>
        </div>
    </form>
</div>
<div class="container w-100 mt-4 overflow-scroll scrollbar" style="max-height: calc(100vh - 290px)">
    <app-tabela-cemiterios [cemiterios]="cemiterios"></app-tabela-cemiterios>
</div>
